logs/

mods/

crash-reports/

saves/

XaeroWorldMap/

XaeroWaypoints/

.curseclient

ds_private_storage.json

servers.dat

servers.dat_old

.mixin.out/

.fabric/

slotlock.json

usercache.json

options.txt

patchouli_data.json

options.amecsapi.txt

ModTranslations/

knownkeys.txt

polymer-resourcepack.zip

realms_persistence.json

deaths.dat

dashloader-cache/

screenshots/

TrashSlotSaveState.json

automation/secrets.ps1

automation/ModListCreator-1.2.1.jar

*.zip

TwitchExportBuilder.exe

config/cosmetica/cached_cloaks.json

config/fabric/indigo-renderer.properties

config/indium-renderer.properties

patched_shaders/

*.tmp1

local/

ESM/

imgui.ini

not-enough-crashes/


logs/



journeymap/



client_data/





rhino.local.properties



backups/



irisUpdateInfo.json


shaderpacks/

chiselsandbits/

ModListCreator-4.0.1-fatjar.jar

Server/

rei_exports/

kubejs/exported/

testing_server/

spell_engine_tutorial.json

everbook/

debug/

usernamecache.json
